.parent{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.child{
    border: 1px solid gray;
    border-radius: 20px;
    height: 350px;
    padding: 5px;
}